.news {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .newsItem {
    width: 24%;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-size 2s;
    overflow: hidden;
    
    .newsItemImg {
      width: 100%;
      height: 100%;
      background-size: 160%;
      background-repeat: no-repeat;
      background-position: center;
      transition: 1s ease all;
    }

    &:hover .newsItemImg {
      
      background-size: 200%;
    }
  }
}

.homeWrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .postWrapper {
    flex: 1;

    .postCreateForm {
      background-color: #18183c;
      height: 70px;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      gap: 10px;
      border-radius: 10px;

      img {
        width: 50px;
        border-radius: 50%;
      }

      form {
        flex: 1;

        input {
          width: 100%;
        }
      }

      .postCreateIcons {
        display: flex;
        gap: 15px;
      }
    }
  }

  .widgetWrapper {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div {
      background: #18183c;
      padding: 20px;
      border-radius: 10px;
    }
    
    .wallet {
      height: 480px;

      .balance {
        margin: 15px 0;
        font-size: 1.5rem;
      }

      .transactions {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > div {
          display: flex;
          padding: 0 10px;
          justify-content: space-between;
          align-items: center;
          height: 80px;
          background: #1e1f4b;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.5s ease-in;

          &:hover {
            transform: translateX(25%);
            background: #2c2c6a;
          }
        }
      }
    }

    .suggestions {
      height: 600px;
    }
  }
}