header {
  width: 100%;
}

.headerUpLine {
  height: 60px;
  display: flex;
  justify-content: center;
  background: #2c2c6a;
  color: white;

  &>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65%;

    & .searchContainer {
      width: 35%;
      background-color: #1c1d49;
      border-radius: 5px;
      height: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      & form {
        width: 100%;

        & input {
          width: 100%;
          font-size: 16px;
        }
      }
    }

    & .userSide {
      display: flex;
      justify-content: space-between;
      width: 10%;
      align-items: center;
      color: #b5b5cf;

      img {
        width: 25px;
        border-radius: 50%;
      }
    }
  }
}

.headerDownLine {
  background: #18183c;
  height: 60px;
  display: flex;
  justify-content: center;
  color: #6d6c8b;

  .headerDownLineContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    user-select: none;

    &>div {
      &>div {
        display: flex;
        gap: 10px;

        span {
          transition: color 0.4s ease;
        }

        i {
          transition: color 0.4s;
        }
      }

      cursor: pointer;

      & :hover {
        color: white;
      }
    }
  }
}