.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  padding: 20px 0;
  width: 65%;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'),
  url(./assets/fonts/ProximaNova/ProximaNova-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  // font-weight: 900;
  src: local('ProximaNova'),
  url(./assets/fonts/ProximaNova/ProximaNova-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  // font-weight: 900;
  src: local('ProximaNova'),
  url(./assets/fonts/ProximaNova/ProximaNova-Light.ttf) format('truetype');
}

input {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-family: 'ProximaNova';
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #545f81;
}



